<div class="section-title wow fadeInUp" data-wow-delay="0.4s">
  <h3 style="text-align: center; margin-top: 20px">SALES TAXES APPLICATION</h3>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5" style="margin-top: 40px">
    <form [formGroup]="newsShoppingBasketForm">
      <section
        style="padding: 0px"
        id="appointment"
        data-stellar-background-ratio="3"
      >
        <div class="container">
          <div class="wow fadeInUp" data-wow-delay="0.8s">
            <div class="row">
              <div class="col">
                <label for="name">Product</label>
                <input
                  #productName
                  type="text"
                  name="productName"
                  placeholder="Name"
                  class="form-control"
                  formControlName="productName"
                  [ngClass]="{
                    'is-invalid': submitted && f['productName'].errors
                  }"
                />
                <div
                  *ngIf="submitted && f['productName'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['productName'].errors['required']">
                    Product Name is required
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="quantity">Quantity</label>
                <input
                  formControlName="quantity"
                  type="number"
                  class="form-control"
                  id="quantity"
                  #quantity
                  name="quantity"
                  [ngClass]="{
                    'is-invalid': submitted && f['quantity'].errors
                  }"
                />
                <div
                  *ngIf="submitted && f['quantity'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['quantity'].errors['required']">
                    Quantity is required
                  </div>
                </div>
              </div>
              <div class="col" style="margin-top: 20px">
                <div class="form-check form-switch">
                  <input
                    formControlName="imported"
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="imported"
                    #imported
                    name="imported"
                    [ngClass]="{
                      'is-invalid': submitted && f['imported'].errors
                    }"
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                  />
                  <label
                    style="margin-top: 14px; margin-left: 10px"
                    class="form-check-label"
                    for="flexSwitchCheckChecked"
                    >Imported</label
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="price">Price</label>
                <input
                  #price
                  formControlName="price"
                  type="number"
                  class="form-control"
                  id="price"
                  name="price"
                  [ngClass]="{ 'is-invalid': submitted && f['price'].errors }"
                />
                <div
                  *ngIf="submitted && f['price'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['price'].errors['required']">
                    Price is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col"></div>
              <div class="col">
                <button
                  type="submit"
                  (click)="saveNewsPortalInfo()"
                  class="form-control"
                  id="cf-submit"
                  name="submit"
                >
                  Add
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>

  <div class="col-md-5">
    <section
      style="padding: 0px"
      id="appointment"
      data-stellar-background-ratio="3"
    >
      <div class="container">
        <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
          <h6>Preview</h6>
        </div>
        <div class="wow fadeInUp" data-wow-delay="0.8s">
          <div class="card" style="width: 30rem; height: 30rem">
            <p style="text-align: center">Receipt Details Shopping Baskets</p>
            <div class="card-body">
              <!-- <h5 class="card-title">{{productName.value}}</h5> -->
              <ul>
                <li>
                  {{ productName.value }} {{ quantity.value }} {{ price.value }}
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" style="padding-top: 5px">
              <button
                type="submit"
                (click)="saveNewsPortalInfo()"
                class="form-control"
                id="cf-submit"
                name="submit"
              >
                Add
              </button>
            </div>

            <div class="col" style="margin-right: 52px; padding-top: 5px">
              <button
                type="submit"
                (click)="saveNewsPortalInfo()"
                class="form-control"
                id="cf-submit"
                name="submit"
              >
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<router-outlet></router-outlet>
