/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css'; 

@media print {
    body * {
      visibility:hidden;
    }

    
    #printable, #printable * {
      visibility:visible;
    }
    #printable {
      position:absolute;
      left:0;
      top:0;
    }
  }